<div
  id="carouselPolaroid"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="2000"
>
  <h2 class="text-center mb-4">LOS MEJORES MOMENTOS EN MI VIDA 💖</h2>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto14.jpg"
          alt="Foto 14"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>
    <!-- Foto 15 -->
    <div class="carousel-item active">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto15.jpg"
          alt="Foto 15"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 16 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto16.jpg"
          alt="Foto 16"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 17 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto17.jpg"
          alt="Foto 17"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 18 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto18.jpg"
          alt="Foto 18"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 19 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto19.jpg"
          alt="Foto 19"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 20 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto20.jpg"
          alt="Foto 20"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 21 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto21.jpg"
          alt="Foto 21"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 22 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto22.jpg"
          alt="Foto 22"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 23 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto35.jpg"
          alt="Foto 23"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 24 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto24.jpg"
          alt="Foto 24"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 25 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto25.jpg"
          alt="Foto 25"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 26 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto26.jpg"
          alt="Foto 26"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 27 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto27.jpg"
          alt="Foto 27"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 28 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto28.jpg"
          alt="Foto 28"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 29 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto29.jpg"
          alt="Foto 29"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>

    <!-- Foto 30 -->
    <div class="carousel-item">
      <div
        class="d-flex justify-content-center align-items-center"
        style="height: 350px"
      >
        <img
          src="assets/img/foto30.jpg"
          alt="Foto 30"
          style="
            max-height: 100%;
            max-width: 100%;
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            background: white;
            padding: 8px;
          "
        />
      </div>
    </div>
  </div>

  <!-- Controles -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselPolaroid"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselPolaroid"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="card my-5 shadow-sm border-0 mx-auto carta">
  <div class="card-body p-4">
    <h2 class="text-center mb-4">UNA CARTA PARA TI 💞</h2>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="mb-0">
        De: <span class="text-danger fw-bold">Brayan Herrera</span>
        <br />
        Para:
        <span class="text-danger fw-bold">Cielo Celis </span>
      </h5>
      <button
        class="btn btn-danger rounded-pill px-3"
        (click)="mostrar = !mostrar"
      >
        {{ mostrar ? "Ocultar" : "Abrir" }}
      </button>
    </div>
    <pre class="typewriter" [class.active]="mostrar">{{ texto }}</pre>
  </div>
</div>

<!-- 📸 Sección Álbum de Fotos -->
<div class="container my-5">
  <h2 class="text-center mb-4">📖 Destacados</h2>
  <div class="row g-4 justify-content-center">
    <!-- Foto 1 -->
    <div class="col-md-6 col-lg-3">
      <div class="polaroid text-center">
        <img
          src="assets/img/foto43.jpg"
          class="img-fluid rounded"
          alt="Foto 1"
        />
      </div>
    </div>

    <!-- Foto 2 -->
    <div class="col-md-6 col-lg-3">
      <div class="polaroid text-center">
        <img
          src="assets/img/foto44.jpg"
          class="img-fluid rounded"
          alt="Foto 2"
        />
      </div>
    </div>

    <!-- Foto 3 -->
    <div class="col-md-6 col-lg-3">
      <div class="polaroid text-center">
        <img
          src="assets/img/foto42.jpg"
          class="img-fluid rounded"
          alt="Foto 3"
        />
      </div>
    </div>

    <!-- Foto 4 -->
    <div class="col-md-6 col-lg-3">
      <div class="polaroid text-center">
        <img
          src="assets/img/foto45.jpg"
          class="img-fluid rounded"
          alt="Foto 4"
        />
      </div>
    </div>
  </div>
</div>

<h2 class="text-center my-5 text-danger fw-bold">
  ❤️ 100 Razones por las que te amo ❤️
</h2>
<section class="reasons-section py-5">
  <div class="container">
    <div class="card shadow-lg border-0 rounded-4">
      <div class="card-body p-4" style="max-height: 600px; overflow-y: auto">
        <ol class="list-group list-group-numbered">
          <li class="list-group-item">
            Porque me haces sentir especial con solo estar a mi lado.
          </li>
          <li class="list-group-item">
            Porque solo puedo verte a ti cuando cierro los ojos y solo quiero
            verte a ti al abrirlos.
          </li>
          <li class="list-group-item">
            Por desbordar mi vida, día a día con tu amor.
          </li>
          <li class="list-group-item">Por ser única y mía.</li>
          <li class="list-group-item">
            Porque eres la mujer con la que quiero compartir mi vida.
          </li>
          <li class="list-group-item">Por hacerme feliz cada día.</li>
          <li class="list-group-item">Por tu forma de ser y de amar.</li>
          <li class="list-group-item">Por quererme como soy.</li>
          <li class="list-group-item">Por animarme cuando estoy mal.</li>
          <li class="list-group-item">Porque simplemente eres PERFECTA.</li>
          <li class="list-group-item">Porque sabes más que yo de mí mismo.</li>
          <li class="list-group-item">
            Por las tardes que hemos pasado juntos.
          </li>
          <li class="list-group-item">Porque no imagino una vida sin ti.</li>
          <li class="list-group-item">Por conocer cada detalle de mí.</li>
          <li class="list-group-item">
            Por hacerme conocer lo que es el AMOR.
          </li>
          <li class="list-group-item">
            Porque no cuento las horas cuando estoy contigo porque sé que será
            para siempre.
          </li>
          <li class="list-group-item">
            Porque solo con decirme te amo, haces que mi corazón se acelere.
          </li>
          <li class="list-group-item">
            Por tener esa risa que quiero escuchar cada día de mi vida.
          </li>
          <li class="list-group-item">Por sacarme una sonrisa siempre.</li>
          <li class="list-group-item">Porque sonríes siempre que me ves.</li>
          <li class="list-group-item">
            Por dejarme ser Yo mismo en todo momento.
          </li>
          <li class="list-group-item">
            Por la forma en que ríes de tus propias bromas.
          </li>
          <li class="list-group-item">Por esos ojos llenos de esperanza.</li>
          <li class="list-group-item">Por como me valoras.</li>
          <li class="list-group-item">Por la forma en que me acaricias.</li>
          <li class="list-group-item">
            Por hacerme reír cuando mi ánimo está por el suelo y mis días son
            grises.
          </li>
          <li class="list-group-item">
            Por mostrarme partes de mí que desconocía.
          </li>
          <li class="list-group-item">Por ser tan cariñosa en todo momento.</li>
          <li class="list-group-item">Por estar siempre que te necesito.</li>
          <li class="list-group-item">
            Por ser ese alguien en quien siempre puedo confiar.
          </li>
          <li class="list-group-item">Por tus besos que me vuelven loco.</li>
          <li class="list-group-item">Por ser tan sincera.</li>
          <li class="list-group-item">Por saber exactamente qué siento.</li>
          <li class="list-group-item">
            Por ser la alegría que me anima a despertarme cada mañana.
          </li>
          <li class="list-group-item">Por no temerle al compromiso.</li>
          <li class="list-group-item">
            Por todos los momentos compartidos y los que aún faltan por
            compartir.
          </li>
          <li class="list-group-item">
            Por preocuparte por mí en todo momento.
          </li>
          <li class="list-group-item">
            Por hacerme sentir que soy suficiente.
          </li>
          <li class="list-group-item">
            Por ser la persona que más feliz me ha hecho en tan poco tiempo.
          </li>
          <li class="list-group-item">
            Porque cuando estoy contigo me siento completo.
          </li>
          <li class="list-group-item">
            Por darle detalles a todo lo que hacemos.
          </li>
          <li class="list-group-item">
            Por sacarme de la soledad que tanto tiempo me ha perseguido.
          </li>
          <li class="list-group-item">Porque te lo merecemos.</li>
          <li class="list-group-item">
            Por confiarme tus secretos y guardar los míos.
          </li>
          <li class="list-group-item">Por ayudarme a creer en mí mismo.</li>
          <li class="list-group-item">
            Por llenar mi vida de alegrías e ilusiones.
          </li>
          <li class="list-group-item">
            Por todas las palabras que me has dejado en el corazón.
          </li>
          <li class="list-group-item">
            Por tener la habilidad de hacerme feliz sin TRAMPAS ni
            consecuencias.
          </li>
          <li class="list-group-item">
            Por dejarme expresar todo lo que siento y quiero.
          </li>
          <li class="list-group-item">
            Porque eres la cura para todas mis heridas.
          </li>
          <li class="list-group-item">
            Por abrir tu corazón, tu vida y compartirla conmigo mi amor.
          </li>
          <li class="list-group-item">Por como dices te amo.</li>
          <li class="list-group-item">
            Por encontrar la forma de hacerme sonreír incluso en los días
            difíciles.
          </li>
          <li class="list-group-item">
            Por encontrar la palabra precisa en el momento indicado.
          </li>
          <li class="list-group-item">
            Por hacer que se desborden mis ganas de vivir y compartir la vida
            contigo.
          </li>
          <li class="list-group-item">
            Por tener las palabras justas para hacerme fuerte o para levantarme
            en las caídas.
          </li>
          <li class="list-group-item">Por como arriesgas todo por mí.</li>
          <li class="list-group-item">
            Por todas tus virtudes, y tus defectos cuando los encuentre, porque
            para mí eres perfecta.
          </li>
          <li class="list-group-item">
            Por ser lo primero que pienso al despertar y lo último que recuerdo
            haber soñado.
          </li>
          <li class="list-group-item">Porque no soy nada sin ti.</li>
          <li class="list-group-item">
            Porque te amo tanto que me cuesta explicarte lo que siento.
          </li>
          <li class="list-group-item">
            Porque no quiero que me olvides nunca porque yo no te olvidaré.
          </li>
          <li class="list-group-item">
            Porque eres lo más importante de mi vida.
          </li>
          <li class="list-group-item">
            Porque sin ti mi vida no tendría sentido.
          </li>
          <li class="list-group-item">Porque eres mi mundo.</li>
          <li class="list-group-item">
            Porque ya no tengo ojos para otra persona que no seas tú.
          </li>
          <li class="list-group-item">
            Porque cuando te conocí fue el día más feliz de mi vida.
          </li>
          <li class="list-group-item">
            Porque mi corazón lo siente y lo sabe que tú eres mi vida y sin ti
            no puedo vivir.
          </li>
          <li class="list-group-item">
            Porque descubrí algo que nunca había sentido y esa cosa tan rara que
            sentí, esa palabra es...AMOR.
          </li>
          <li class="list-group-item">Por pensar en mí.</li>
          <li class="list-group-item">
            Por hacerme sentir tan inmensamente FELIZ estando juntos y sin
            estarlo.
          </li>
          <li class="list-group-item">
            Por demostrarme que el amor verdadero existe.
          </li>
          <li class="list-group-item">
            Por hacerme sentir que el tiempo a tu lado es muy corto aunque hayan
            pasado mil horas.
          </li>
          <li class="list-group-item">Por alegrarme todos los días.</li>
          <li class="list-group-item">
            Por enseñarme algo nuevo cada vez que nos vemos.
          </li>
          <li class="list-group-item">Por las cosas que me dices.</li>
          <li class="list-group-item">Por ser mi TODO.</li>
          <li class="list-group-item">Por hacerme ser como soy.</li>
          <li class="list-group-item">Por amarme como me amas.</li>
          <li class="list-group-item">
            Porque cuando me abrazas me haces sentir único.
          </li>
          <li class="list-group-item">
            Por ser Mi Sol en medio de la tormenta.
          </li>
          <li class="list-group-item">
            Porque eres especial y única en todo lo que haces.
          </li>
          <li class="list-group-item">Solo por existir.</li>
          <li class="list-group-item">
            Porque me haces sentir especial con solo acariciarme.
          </li>
          <li class="list-group-item">
            Por ser lo único que necesito para ser feliz.
          </li>
          <li class="list-group-item">
            Porque me derrito cada vez que me hablas.
          </li>
          <li class="list-group-item">Por tu comida.</li>
          <li class="list-group-item">Por la forma en que me miras.</li>
          <li class="list-group-item">
            Porque eres capaz de sacar lo mejor de mí.
          </li>
          <li class="list-group-item">Porque jamás quiero separarme de ti.</li>
          <li class="list-group-item">
            Por darme la confianza y oportunidad de ser parte de tu vida.
          </li>
          <li class="list-group-item">Por amarme sobre todas las cosas.</li>
          <li class="list-group-item">
            Porque eres la primera para mí en todo.
          </li>
          <li class="list-group-item">
            Por comprenderme como nadie más lo hace.
          </li>
          <li class="list-group-item">
            Por hacerme sentir que soy el único de tu vida.
          </li>
          <li class="list-group-item">
            Porque solo contigo me siento capaz de todo.
          </li>
          <li class="list-group-item">
            Por todos y cada uno de los momentos vividos y por estar a mi lado.
          </li>
          <li class="list-group-item">Por dejarme soñar.</li>
          <li class="list-group-item">Por no olvidarte de mí.</li>
          <li class="list-group-item">
            Porque cada día tengo un motivo más para AMARTE.
          </li>
        </ol>
        <div class="text-center mt-4">
          <h3 class="text-danger fw-bold">❤️ TE AMO ❤️</h3>
        </div>
      </div>
    </div>
  </div>
</section>
